<div class="dashboard-layout">
  <div class="note-dashboard-container" [class.side-panel-open]="showSidePanel">
    <div class="dashboard-header">
      <h2>My Notes</h2>
      <button class="new-note-button" (click)="createNewNote()">New Note</button>
    </div>

    <div *ngIf="isLoading">
      <p>Loading notes...</p>
    </div>

    <div *ngIf="hasError">
      <p>Error loading notes. Please try again later.</p>
    </div>

    <div *ngIf="!isLoading && !hasError">
      <div *ngIf="notes.length === 0">
        <p>No notes found. Create a new one!</p>
      </div>

      <ul class="note-list" *ngIf="notes.length > 0">
        <li class="note-list-item" *ngFor="let note of notes" (click)="viewNote(note.id)">
          <div class="note-title">{{ note.title }}</div>
          <div class="note-contents">
            <p *ngIf="!note.contents || note.contents.length === 0"> </p>
            <p *ngFor="let content of note.contents?.slice(0, 2)">{{ content.data }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <app-note-editor-side-panel
    *ngIf="showSidePanel"
    [noteId]="selectedNoteId"
    (closePanel)="closeSidePanel()"
  ></app-note-editor-side-panel>
</div>