.dashboard-layout {
  display: flex;
}

.note-dashboard-container {
  flex-grow: 1; /* Allow the dashboard to take up the remaining space */
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  transition: margin-right 0.3s ease-in-out; /* Smooth transition for margin change */
}

.note-dashboard-container.side-panel-open {
  margin-right: 75vw; /* Adjust margin when side panel is open */
}

/* On smaller screens, adjust margin when side panel is open */
@media (max-width: 768px) {
  .note-dashboard-container.side-panel-open {
    margin-right: 100vw;
  }
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; // Add some space below the header
}

.new-note-button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;

  &:hover {
    background-color: #0056b3;
  }
}

.note-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.note-list-item {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }
}

.note-title {
  font-weight: bold;
  color: #333;
}

.note-contents {
  font-size: 0.9em;
  color: #555;
  margin-top: 5px;
}
