<div class="side-panel">
  <div class="side-panel-header">
    <h3>{{ note?.title }}</h3>
    <button (click)="onClose()">X</button>
  </div>
  <div class="side-panel-content">
    <div *ngIf="note">
      <div
        class="content-editable-container"
        contenteditable="true"
        (input)="onContentInput($event)"
        (blur)="onContentBlur()"
        (keydown)="onContentKeydown($event)"
      >
        <p *ngFor="let content of note.contents" [attr.data-content-id]="content.id">{{ content.data }}</p>
      </div>
    </div>
    <div *ngIf="!note">
      <p>Loading note...</p>
    </div>
  </div>
</div>
