.side-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 75vw; /* Use viewport width for responsiveness */
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

/* On smaller screens, make the side panel take up the full width */
@media (max-width: 768px) {
  .side-panel {
    width: 100vw;
  }
}

.content-editable-container {
  padding-left: 3px;
  margin-left: 0.5vw; /* Align with dashboard notes */
  border: 1px solid #ccc; /* Big rim around all contents */

  &:focus-within {
    border: 2px solid #007bff; /* Blue and bold border when focused */
  }

  p {
    outline: none; /* Remove outline on focus */
  }
}

.content-editable-container p:empty::after {
  content: '\00a0'; /* Non-breaking space */
}


.side-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;

  .note-title {
    font-weight: bold;
    font-size: 1.2em; /* Match dashboard title size */
    margin: 4px; /* Remove default margin */
  }
}

.side-panel-content {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
}
