<div class="side-panel">
  <div class="side-panel-header">
    <h3>{{ note?.title }}</h3>
    <button (click)="onClose()">X</button>
  </div>
  <div class="side-panel-content">
    <div *ngIf="note">
      <div class="content-editable-container">
        <p
          *ngFor="let content of note.contents"
          [attr.data-content-id]="content.id"
          contenteditable="true"
          (blur)="onContentBlur($event)"
          (keydown)="onContentKeydown($event)"
        >{{ content.data }}</p>
      </div>
    </div>
    <div *ngIf="!note">
      <p>Loading note...</p>
    </div>
  </div>
</div>
